.projectsBody {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.projects-title {
    padding: '1rem';
    font-size: '5rem';
    color: 'white'
}