.projectsBody {
    min-height: 'auto';
    width: 100%;
    background-color: #181a1b
}

.papers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%;
}